#   База данных
DB_USER=admin
DB_PASSWORD=password

DB_NAME=my_db
DB_HOST=127.0.0.1
DB_PORT=5432

DB_INTERNAL_HOST=db
DB_INTERNAL_PORT=5432

#   Шифрование
SECRET_KEY=gV64m4aIzFG4qngVphvQbPQrtAO0nM-5YwwOvu0XPt5KJOjAy4AfgLfqJXYEt
ALGORITHM=HS256

#   Доступ к API
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

#   Фронтенд Python SimpleHTTPServer
FRONT_PORT=5500