########################################
# Data base environment
########################################
DB_USER=admin               # Database user
DB_PASSWORD=password        # Database user password
DB_NAME=ED_Ultimate_db      # Database name
DB_EXTERNAL_IP=127.0.0.1    # External DB ip
DB_EXTERNAL_PORT=5433       # External DB port
DB_INTERNAL_IP=db           # DB ip inside container
DB_INTERNAL_PORT=5432       # Port inside container
########################################
# Backend environment
########################################
BACKEND_IP=0.0.0.0          # Backend ip
BACKEND_PORT=8000           # Backedn port (external + internal)
########################################
# Frontend environment
########################################
FRONTEND_IP=127.0.0.1       # Frontend ip
FRONTEND_PORT=5500          # Frontend port (external + internal)
########################################
# Settings environment
########################################
ACCESS_TOKEN_EXPIRE_MINUTES=30       # Access token TTL in minutes
REFRESH_TOKEN_EXPIRE_MINUTES=10080   # Refresh token TTL in minutes
ALGORITHM=HS256                      # JWT signing algorithm
########################################
# Secrets environment
########################################
SECRET_KEY=secretkey       # Secret for signing access tokens