fastapi[all]
requests
alembic
asyncpg
sqlalchemy
pydantic
pydantic-settings
httpx
python-jose
bcrypt==4.0.1
passlib[bcrypt]
aiohttp
jinja2
bs4
beautifulsoup4
psycopg2-binary
python-dotenv
uliweb-alembic